# exclude this latex outputs
*.aux
*.log

# exclude all images except them needed for the report
*.jpg
!report/img/*.jpg

# exclude all compiled executables. Compile them by your own
dartboard
face
a.out

# exclude all model files. Again, build it by your own from sources
*.xml
*.dat


